body {
  font-family: Arial, sans-serif;
  background-color: Cornsilk;
  margin: 20px;
}

h1 {
  text-align: center;
  color: DimGray;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: Cornsilk;
}

th, td {
  padding: 12px;
  border: 1px solid DarkOrange;
  text-align: center;
}

th {
  background-color: LightSalmon;
  color: white;
}

/* Pseudo-class */
input:hover {
  outline: none;
  background-color: OrangeRed;
}
